
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.containerHero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 800px;
  background: linear-gradient(to right, #000000, #4D4545, #454A4D);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  margin-bottom: 60px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logodiv {
  display: flex;
  justify-content: right;
  grid-area: 2 / 1 / 3 / 2;
}

h1 {
  color: white;
  font-family: 'Prata', serif;
  font-size: 100px;
  align-self: center;
  justify-self: center;
  grid-row-start: 2;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  justify-self: center;
  grid-row-start: 3;
}

.MainText {
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

.dropdown-item:active {
  background-color: #4D4545;
}

.ContainerCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.ButtonColor {
  background-color: #4D4545;
  border-color: #4D4545;
}

.ButtonColor:hover {
  background-color: #000000;
  border-color: #000000;
}

.ButtonColor:active {
  color: #000000 !important;
  background-color: white !important;
  border-color: white !important;
}

img {
  object-fit: cover;
}

.ContainerSocialMedia {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: linear-gradient(to right, #000000, #4D4545, #454A4D);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  width: 100%;
  height: 300px;
}

.SocialMediaTitle {
  grid-area: 1 / 1 / 2 / 6;
  justify-self: center;
  align-self: center;
}

.ContainerSocialMedia div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.BackgroundSocialMedia {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  background-color: white;
}

.card {
  margin: 20px
}



@media (max-width: 1500px) {
  h1 {
    font-size: 80px;
  }
  .logodiv {
    display: flex;
    justify-content: center;
    grid-area: 3 / 1 / 4 / 4;
  }

  .MainText {
    grid-area: 1 / 1 / 3 / 4;
  }

  .containerHero {
    height: 500px;
  }

}

@media (max-width: 700px) {
  .containerHero {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100%;
    height: 500px;
  }

  .logodiv {
    display: flex;
    justify-content: center;
    grid-area: 3 / 1 / 4 / 2;
  }
  .MainText {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 60px;
    align-self: flex-end;
  }


}

@media (max-width: 500px) {
  
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 25px;
  }
}